<app-header></app-header>

<main>
    <section class="main-section">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card p-3">
                <form>
                    <div class="form-group form-title">
                        <h2>Acesso Restrito</h2>
                    </div>
                    <div class="form-group">
                        <input type="text" id="email" class="form-control" placeholder="username">
                    </div>

                    <div class="form-group">
                        <input type="password" id="senha" class="form-control" placeholder="password">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>
