.app-header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1.8px solid black;
    padding: 30px;
    margin-top: 0px;
}

#principal h1{
    font-size: 50px;
}

#principal h1:hover{
    font-size: 50px;
    cursor: pointer;
}

#principal span{
    font-size: 20px;
}

.left {
    margin-right: 20%;
}

.right {
    margin-left: 20%;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap; /* Permite que os itens quebrem a linha em telas menores */
    padding: 40px;
}

#missions {
    border: 1px solid black;
    width: 55%;
    padding: 20px;
}

#administrator {
    border: 1px solid red;
    width: 40%;
    padding: 20px;
}

.title {
    font-size: 24px;
}

.title-mission {
    font-size: 18px;
    margin-bottom: 6px;
}

.description-mission {
    font-size: 14px;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}

.list-missions {
    margin-top: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.item-mission {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-mission:hover {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    background-color: rgba(224, 224, 224, 0.308);
}

.btn-details {
    width: 100%;
    display: block;
    margin-top: 6px;
    padding: 5px;
}

.list-options {
    display: flex;
    flex-direction: column;
}

.list-options button{
    width: 100%;
    padding: 5px;
    margin-top: 6px;
}

.pendente {
    background-color: red;
}