<header class="app-header-secret">
    <div id="principal">
        <span class="left">Nós somos</span>
        <h1 [routerLink]="['']">Painel GreenHand</h1>
        <span class="right">resistência</span>
    </div>
</header>
<main>
    <section class="main-section">
        <div id="missions">
            <div class="title">
                Quadro de Missões
            </div>
            <div class="list-missions">
                <div class="item-mission" *ngFor="let item of missions">
                    <h4 class="title-mission">{{item.title}}</h4>
                    <span class="description-mission">{{item.description}}</span>
                    <button class="btn-details">Detalhes</button>
                </div>
            </div>
        </div>
        <div id="administrator">
            <div class="title">
                Administração
            </div>
            <div class="list-options">
                <button>Listar Missões</button>
                <button>Criar Missão</button>
                <button>Painel de Agentes</button>
                Lista de opções para administração
                Adicionar missão, editar, excluir...
                Adicionar agente, editar agente, remover agente...
            </div>
        </div>
    </section>
</main>