<header class="app-header-secret">
    <div id="principal">
        <span class="left">Nós somos</span>
        <h1 [routerLink]="['']">Painel GreenHand</h1>
        <span class="right">resistência</span>
    </div>
</header>
<main>
    <section class="main-section">
        <div id="missions">
            <div class="title">
                Missões
            </div>
            <div class="list-missions">
                Lista de missões
            </div>
        </div>
        <div id="administrator">
            <div class="title">
                Administração
            </div>
            <div class="list-options">
                Lista de opções para administração
                Adicionar missão, editar, excluir...
                Adicionar agente, editar agente, remover agente...
            </div>
        </div>
    </section>
</main>